---
import { Image } from 'astro:assets'
import logoSmall from '../images/header/logo-name.png'
import logoBig from '../images/header/logo-name-big.png'
import vectorPink from '../images/header/vector-pink.png'
import vectorBlue from '../images/header/vector-blue.png'
import Link from '../components/Link.astro'

const link = {
    to: '#o-nas',
    text: 'Nasze oferty',
}

const basic =
    'focus:ring focus:ring-mylightpink w-full rounded-xl px-4 py-2 text-center focus:outline-none text-2xl tracking-wide transition-colors duration-300  focus:ring-offset-2 bg-mypink text-stone-100 hover:bg-mylightpink'
---

<header
    class="relative flex h-[100svh] flex-col items-center justify-center gap-y-12 overflow-hidden bg-bg-small bg-cover bg-center xs:min-h-[500px] sm:min-h-[600px] lg:bg-bg-big"
>
    <Image
        class="absolute -left-2 bottom-2 z-0 hidden h-56 w-56 rotate-12 sm:-top-2 sm:left-4 sm:block sm:h-60 sm:w-60 md:left-10 md:h-80 md:w-80 lg:h-96 lg:w-96 2xl:h-[34rem] 2xl:w-[34rem]"
        src={vectorPink}
        alt=""
    />
    <Image
        class="absolute -right-2 bottom-2 z-0 hidden h-56 w-56 xs:block sm:h-60 sm:w-60 md:bottom-6 md:right-2 md:h-80 md:w-80 lg:h-96 lg:w-96 2xl:h-[34rem] 2xl:w-[34rem]"
        src={vectorBlue}
        alt=""
    />
    <Image
        class="relative z-10 w-80 px-4 lg:w-[32rem] xl:hidden"
        src={logoSmall}
        alt="Logo firmy"
    />
    <Image
        class="relative z-10 hidden w-[700px] px-4 xl:mb-4 xl:block"
        src={logoBig}
        alt="Logo firmy"
    />
    <div
        class="relative flex w-full max-w-xs flex-col items-center gap-y-6 px-4 xl:gap-y-8 2xl:max-w-sm"
    >
        <Link type={basic} to={link.to} text={link.text} />
    </div>
</header>
