---
import { Image } from 'astro:assets'
import logoSmall from '../images/header/logo-name.png'
import logoBig from '../images/header/logo-name-big.png'
import vectorPink from '../images/header/vector-pink.png'
import vectorBlue from '../images/header/vector-blue.png'
import Link from '../components/Link.astro'

const { fun, gallery } = {
    fun: {
        to: '#offers',
        text: 'Rozpocznij zabawę',
    },
    gallery: {
        to: '/gallery',
        text: 'Galeria',
    },
}

const basic =
    'focus:ring focus:mylightblue w-full rounded-xl px-4 py-2 text-center focus:outline-none text-2xl tracking-wide transition-colors duration-300 focus:outline-none '

const linkStyle = {
    pink: basic + 'bg-mypink text-stone-100 hover:bg-mylightpink ',
    blue: basic + 'bg-mygrey text-myblue hover:bg-mylightblue',
}
---

<header
    class="relative flex min-h-screen flex-col items-center justify-center gap-y-10 bg-bg-small bg-cover bg-center lg:bg-bg-big"
>
    <Image
        class="absolute left-2 top-2 z-0 h-56 w-56 rotate-12"
        src={vectorPink}
        alt=""
    />
    <Image
        class="absolute bottom-2 right-2 z-0 h-56 w-56"
        src={vectorBlue}
        alt=""
    />
    <Image
        class="relative z-10 w-80 px-4 lg:w-96 xl:hidden"
        src={logoSmall}
        alt="Logo firmy"
    />
    <Image
        class="relative z-10 hidden w-[700px] px-4 xl:block"
        src={logoBig}
        alt="Logo firmy"
    />
    <div
        class="relative flex w-full max-w-xs flex-col items-center gap-y-6 px-4"
    >
        <Link type={linkStyle.pink} to={fun.to} text={fun.text} />
        <Link type={linkStyle.blue} to={gallery.to} text={gallery.text} />
    </div>
</header>
