---
import '@fontsource/love-ya-like-a-sister'
import { Image } from 'astro:assets'
const {
    bg,
    icon,
    altText,
    title,
    priceOne,
    priceTwo,
    pin,
    text,
    className,
    more = true,
} = Astro.props
---

<div
    class="relative flex max-w-md flex-1 flex-col justify-between rounded-xl bg-mycardblue p-4 shadow-[3px_8px_23px_-7px_rgba(203,235,247,1)] sm:p-5 md:min-w-[447px]"
>
    <Image src={pin} alt="Pinezka" class="absolute right-1 top-2 w-10" />
    <div class="flex items-center justify-between py-2">
        <div class="relative w-32 shrink-0">
            <Image src={bg} alt="" class="w-full" />
            <Image
                src={icon}
                alt={altText}
                class="absolute left-5 top-6 w-24"
            />
        </div>
        <h2 class={className}>{title}</h2>
    </div>
    <p class="py-6 text-lg sm:h-[200px] md:leading-8 3xl:h-auto">{text}</p>
    <div class="space-y-1 md:pt-4">
        <p class="text-lg font-bold">Cena:</p>
        {priceOne && <p>{priceOne}</p>}
        {priceTwo && <p>{priceTwo}</p>}
        {
            !priceOne && !priceTwo && (
                <p>Cena oraz oferta animacji ustalana indywidualnie</p>
            )
        }
    </div>
    <div class="mt-auto flex w-full items-center justify-between pb-4 pt-7">
        <button
            class="order-btn rounded-xl bg-myorder px-6 py-2 text-xl text-white transition-colors duration-300 hover:bg-myspiritblue focus:outline-none xl:focus:ring xl:focus:ring-myspiritblue xl:focus:ring-offset-2"
            >Zamawiam</button
        >
        {
            more && (
                <button class="more-btn rounded-xl bg-more-btn bg-center px-6 py-2 text-lg transition-transform duration-300 hover:scale-105 focus:scale-105 focus:outline-none xs:px-8">
                    Więcej{' '}
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="icon icon-tabler icon-tabler-arrow-right mb-0.5 inline text-[#262525]"
                        width="18"
                        height="18"
                        viewBox="0 0 24 24"
                        stroke-width="2"
                        stroke="currentColor"
                        fill="none"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    >
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M5 12l14 0" />
                        <path d="M13 18l6 -6" />
                        <path d="M13 6l6 6" />
                    </svg>
                </button>
            )
        }
    </div>
</div>
