---
import { Image } from 'astro:assets'
const { bg, icon, altText, title, priceOne, priceTwo, pin, text } = Astro.props
---

<div class="bg-mycardblue relative max-w-md rounded-xl p-4">
    <Image src={pin} alt="Pinezka" class="absolute right-1 top-2 w-10" />
    <div class="flex items-center justify-between">
        <div class="relative w-32">
            <Image src={bg} alt="" class="w-full" />
            <Image
                src={icon}
                alt={altText}
                class="absolute left-5 top-6 w-24"
            />
        </div>
        <h2>{title}</h2>
    </div>
    <p>{text}</p>
    <div>
        <p>Cena:</p>
        {priceOne && <p>{priceOne}</p>}
        {priceTwo && <p>{priceTwo}</p>}
        {
            !priceOne && !priceTwo && (
                <p>Cena oraz oferta animacji ustala indywidualnie</p>
            )
        }
    </div>
    <div class="flex w-full items-center justify-between">
        <button>Zamawiam</button>
        <button>
            <span>Więcej</span>
            <span></span>
        </button>
    </div>
</div>
