---
import '@fontsource/love-ya-like-a-sister'
import { Image } from 'astro:assets'
const { bg, icon, altText, title, priceOne, priceTwo, pin, text, className } =
    Astro.props
---

<div
    class="relative flex max-w-md flex-col justify-between rounded-xl bg-mycardblue p-4 shadow-[3px_8px_23px_-7px_rgba(203,235,247,1)] sm:p-5 md:min-w-[447px]"
>
    <Image src={pin} alt="Pinezka" class="absolute right-1 top-2 w-10" />
    <div class="flex items-center justify-between py-2">
        <div class="relative w-32 shrink-0">
            <Image src={bg} alt="" class="w-full" />
            <Image
                src={icon}
                alt={altText}
                class="absolute left-5 top-6 w-24"
            />
        </div>
        <h2 class={className}>{title}</h2>
    </div>
    <p class="py-6 text-lg md:leading-8">{text}</p>
    <div class="space-y-1 md:pt-4">
        <p class="text-lg font-bold">Cena:</p>
        {priceOne && <p>{priceOne}</p>}
        {priceTwo && <p>{priceTwo}</p>}
        {
            !priceOne && !priceTwo && (
                <p>Cena oraz oferta animacji ustala indywidualnie</p>
            )
        }
    </div>
    <div class="mt-auto flex w-full items-center justify-between pb-4 pt-7">
        <button
            class="rounded-xl bg-myorder px-6 py-2 text-xl text-white transition-colors duration-300 hover:bg-myspiritblue focus:outline-none focus:ring focus:ring-myspiritblue focus:ring-offset-2"
            >Zamawiam</button
        >
        <button
            class="rounded-xl bg-more-btn bg-center px-6 py-2 text-lg transition duration-300 hover:drop-shadow-[0px_0px_14px_rgb(255,141,161)] focus:outline-none focus:drop-shadow-[0px_0px_14px_rgb(255,141,161)] xs:px-8"
        >
            Więcej &rarr;
        </button>
    </div>
</div>

<style>
    .d {
        color: #b5e7f7;
    }
</style>

<!-- rgba(203,235,247,1)   -->
<!-- rgba(181,231,247,1) -->
