---
import { Image } from 'astro:assets'
const { bg, icon, altText, title, priceOne, priceTwo, pin } = Astro.props
---

<div class="relative max-w-md">
    <Image src={pin} alt="Pinezka" class="ablosule right-5 top-5" />
    <div>
        <div>
            <Image src={bg} alt="" />
            <Image src={icon} alt={altText} />
        </div>
        <h2>{title}</h2>
    </div>
    <p>{text}</p>
    <div>
        <p>Cena:</p>
        {priceOne && <p>{priceOne}</p>}
        {priceTwo && <p>{priceTwo}</p>}
        {
            !priceOne && !priceTwo && (
                <p>Cena oraz oferta animacji ustala indywidualnie</p>
            )
        }
    </div>
    <div class="flex w-full items-center justify-between">
        <button>Zamawiam</button>
        <button>
            <span>Więcej</span>
            <span></span>
        </button>
    </div>
</div>
