---
import { Image } from 'astro:assets'
import WhyUsCart from './WhyUsCart.astro'
import vectorGreen from '../images/whyus/vector-green.png'
import vectorGold from '../images/whyUs/vector-gold.png'
import vectorBlue from '../images/whyUs/vector-lightblue.png'
import vectorArrow from '../images/whyUs/vector-arrow.png'
import vectorArrowLeft from '../images/whyus/vector-arrow-left.png'
const basic = 'text-3xl font-bold tracking-widest mt-3 mb-5'
const data = {
    title: 'Dlaczego my ',
    gold: {
        title: 'Profesjonalizm',
        message:
            'Jesteśmy doświadczonym zespołem, który dba o każdy szczegół, aby zapewnić świetną zabawę i udane urodziny.',
        type: basic + ' text-myorange'
    },
    blue: {
        title: 'Spokój Ducha',
        message: 'Pozwalamy rodzicom skoncentrować się na własnej zabawie, wiedząc, że ich dzieci są w dobrych rękach',
        type: basic + ' text-mygreyblue'
    },
    green: {
        title: 'Bezpieczeństwo',
        message: 'Zapewniamy bezpieczeństwo dzieci i przestrzegamy wszystkich niezbędnych standardów higieny.',
        type: basic + ' text-myspiritblue'
    }

}
const {title,gold,blue,green} = data

---

<section id="whyus" class="overflow-x-hidden">
    <div class="px-4 py-12 w-full container mx-auto">
        <h2 class='text-myblue font-medium  text-4xl mb-16 mt-4'>{title}</h2>
        <div class='space-y-2.5 flex flex-col items-center'>
            <WhyUsCart img={vectorGold} type={gold.type} title={gold.title} message={gold.message}/>
            <Image class='rotate-[35deg]' src={vectorArrow} alt='niebieska strzałka'/>
            <WhyUsCart img={vectorGreen} type={green.type} title={green.title} message={green.message}/>
            <Image class='-rotate-[35deg]' src={vectorArrowLeft} alt='niebieska strzałka'/>
            <WhyUsCart img={vectorBlue} type={blue.type} title={blue.title} message={blue.message}/>
        </div>
  
   
</div>
</section>
