---
import { Image } from 'astro:assets'
import WhyUsCart from './WhyUsCart.astro'
import vectorGreen from '../images/whyUs/vector-green.png'
import vectorGold from '../images/whyUs/vector-gold.png'
import vectorBlue from '../images/whyUs/vector-lightblue.png'
import vectorArrow from '../images/whyUs/vector-arrow.png'
import vectorArrowLeft from '../images/whyUs/vector-arrow-left.png'
import arrowLeft from '../images/whyUs/arrow-left.png'
import arrowBottom from '../images/whyUs/arrow-bottom.png'
const basic = 'text-3xl font-bold tracking-widest mt-3 mb-5'
const data = {
    title: 'Dlaczego my ',
    gold: {
        title: 'Profesjonalizm',
        message:
            'Jesteśmy doświadczonym zespołem, który dba o każdy szczegół, aby zapewnić świetną zabawę i udane urodziny.',
        type: basic + ' text-myorange ',
    },
    blue: {
        title: 'Spokój Ducha',
        message:
            'Pozwalamy rodzicom skoncentrować się na własnej zabawie, wiedząc, że ich dzieci są w dobrych rękach',
        type: basic + ' text-myspiritblue ',
    },
    green: {
        title: 'Bezpieczeństwo',
        message:
            'Zapewniamy bezpieczeństwo dzieci i przestrzegamy wszystkich niezbędnych standardów higieny.',
        type: basic + ' text-mygreyblue ',
    },
}
const { title, gold, blue, green } = data
---

<section id="dlaczego-my" class="overflow-x-hidden">
    <div
        class="container mx-auto w-full px-4 py-12 md:px-8 lg:py-16 xl:py-24 3xl:px-0"
    >
        <h2
            class="mb-12 text-4xl font-medium text-myblue lg:text-5xl xl:mb-20 2xl:text-6xl"
        >
            {title}
        </h2>
        <div
            class="space w-5xl relative mx-auto flex max-w-[992px] flex-col items-center space-y-2.5 pb-6"
        >
            <WhyUsCart
                img={vectorGold}
                type={gold.type}
                title={gold.title}
                message={gold.message}
                className="flex flex-col items-center "
            />
            <Image
                class="right-32 top-52 rotate-[35deg] lg:absolute lg:-rotate-1"
                src={vectorArrow}
                alt="niebieska strzałka"
            />
            <Image
                class="absolute left-16 top-[16.5rem] hidden rotate-[122deg] lg:block"
                src={arrowBottom}
                alt="niebieska strzałka"
            />
            <Image
                class="absolute -bottom-1 left-96 hidden -rotate-3 lg:block"
                src={arrowBottom}
                alt="niebieska strzałka"
            />
            <div
                class="flex w-full flex-col items-center space-y-2.5 lg:flex-row-reverse lg:justify-between lg:pt-32"
            >
                <WhyUsCart
                    img={vectorGreen}
                    type={green.type}
                    title={green.title}
                    message={green.message}
                    className="flex flex-col items-center"
                />
                <Image
                    class="-rotate-[35deg] lg:hidden"
                    src={vectorArrowLeft}
                    alt="niebieska strzałka"
                />
                <WhyUsCart
                    img={vectorBlue}
                    type={blue.type}
                    title={blue.title}
                    message={blue.message}
                    className="flex flex-col items-center "
                />
            </div>
        </div>
    </div>
</section>
